body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/src/images/wildflower-7999167_1280.jpg');

  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-form input[type='text'] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.photo-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: azure;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.photo-card img {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 230px;
  height: 180px;
}

.info {
  padding: 10px;
}

.info-item {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.load-more.hidden {
  display: none;
}
.hidden {
  display: none;
}
